@import "../variables";
@import "../colors";

.field {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;

    &__title {
        font-family: $project_font;
        font-size: 14px;
        margin: 0 0 8px;
        width: 200px;
        box-sizing: border-box;
        padding-top: 8px;
        flex-shrink: 0;
    }

    &__required &__title:after {
        content: '*';
        color: $base_required_color;
        margin-left: 3px;
    }

    &__input {
        flex-grow: 1;
    }

    &__errors {
        display: flex;
        flex-direction: column;
        min-height: 8px;

        &-error {
            font-family: $project_font;
            font-size: 14px;
            margin-top: 5px;
            text-transform: lowercase;
            color: $base_error_color;
        }
    }
}
