@import "../variables";
@import "../colors";
@import "../shadows";
@import "../mixins/no-selection";

.application {
    &__header {
        width: 100%;
        max-width: $max_width;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: $header_height;

        &-title {
            flex-grow: 0;
            height: 100%;
            background-color: #f0506e;
        }

        &-menu {
            flex-grow: 1;
            height: 100%;
        }

        &-personal {
            flex-grow: 0;
            height: 100%;
            background-color: #6df050;
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: $header_height;
        @include noSelection();

        &-item {
            flex-grow: 0;
            font-family: $project_font;
            font-size: 14px;
            cursor: pointer;
            position: relative;
            color: $app_menu_text_color;
            transition: color $animation $animation_time, background-color $animation $animation_time;

            &-0 {
                height: $header_height;
                line-height: $header_height;
            }

            &-0 > &-link {
                display: block;
                height: 100%;

                & > span {
                    padding: 0 10px;
                }
            }

            &-1 {
            }

            &-1 > &-link {
                display: block;
                white-space: nowrap;
                line-height: initial;

                & > span {
                    padding: 10px;
                }
            }

            &-link {
                text-decoration: none;
                color: $app_menu_text_color;

                & > span {
                    display: block;
                }
            }

            &-link:hover {
                color: $app_menu_hover_text_color;
            }

            &-link.router-link-exact-active {
                color: $app_menu_active_text_color;
            }
        }

        &-submenu {
            &-0 {
                transition: opacity $animation $animation_time, visibility $animation $animation_time;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: calc(#{$header_height} - 10px);
                background-color: $app_menu_submenu_background_color;
                box-sizing: border-box;
                padding: 15px;
                box-shadow: $shadow_2;
                border-radius: 3px;
                min-width: 100%;
                z-index: 200;
            }
        }
    }
}

.application__menu-item-0.application__menu-item-hovered .application__menu-submenu-0 {
    opacity: 1;
    visibility: visible;
}
