@import "../variables";
@import "../colors";

.expand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $expand_base_unit;
    height: $expand_base_unit;
    cursor: pointer;

    &__button {
        display: block;
        width: $expand_base_unit / 4;
        height: $expand_base_unit / 4;
        transition: transform $animation $animation_time;
    }

    &:hover  &__button {
        transform: scale(1.2);
    }

    &__expanded &__button {
        transform: rotate(-180deg);
    }

    &__expanded:hover &__button {
        transform: rotate(-180deg) scale(1.2);
    }

}
