@import "../colors";
@import "../variables";
@import "../shadows";

.page {
    max-width: $max_width;
    width: calc(100% - 20px);
    margin: 20px auto 30px;
    background-color: $page_background_color;
    box-shadow: $shadow_1;
    border-radius: 3px;
    box-sizing: border-box;
    padding: $page_padding;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;

    &__header {
        box-sizing: border-box;
        padding-bottom: 20px;
        border-bottom: 1px solid $page_header_divider_color;
        font-family: $project_font;
        font-size: 16px;
    }

    &__footer {
        box-sizing: border-box;
        padding-top: 10px;
        border-top: 1px solid $page_header_divider_color;
        font-family: $project_font;
        font-size: 16px;
    }

    &__message {
        font-family: $project_font;
        font-size: 20px;
        width: 100%;
        text-align: center;
        padding: 30px 20px;
        color: $page_message_color;
        box-sizing: border-box;

        &-error {
            color: $page_message_error_color;
        }
    }

    &__body {
        &-bar {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            padding: 20px 0;

            &-item {
                display: flex;
                flex-direction: column;

                &-title {
                    flex-grow: 1;
                    font-size: 14px;
                    font-family: $project_font;
                    margin-bottom: 5px;
                    color: $page_bar_item_title_color;

                    &-empty {
                        margin-bottom: 0;
                    }
                }

                &-container {
                    display: flex;
                }
            }

            &-filters {
                display: flex;
                flex-direction: row;
                flex-grow: 1;

                & > * {
                    margin-right: 20px;
                    min-width: 150px;
                }

                & .base-dropdown__display-value, & .base-input__input {
                    font-size: 14px;
                }
            }

            &-search {
                display: flex;
                flex-direction: row;
                flex-grow: 0;
                justify-content: right;

                & > * {
                    max-width: 350px;
                    flex-grow: 1;
                }
            }
        }
    }
}
