@import "../variables";
@import "../colors";
@import "../mixins/no-selection";

.pagination {
    display: flex;
    flex-direction: row;
    height: $pagination_base_unit;
    margin-top: 20px;
    @include noSelection();

    &__shown, &__per-page {
        flex-grow: 0;
        flex-shrink: 0;
        font-family: $project_font;
        line-height: $pagination_base_unit;
        font-size: 14px;
        padding-right: 15px;
    }

    &__per-page {
        display: flex;
        flex-direction: row;
    }

    &__links {
        flex-grow: 1;
        display: flex;
        justify-content: right;
        line-height: $pagination_base_unit;
        font-family: $project_font;

        &-spacer {
            width: $pagination_base_unit / 2;
            height: $pagination_base_unit;
            line-height: $pagination_base_unit;
            text-align: center;
            cursor: default;
            color: $pagination_default_color;
            margin-right: 5px;
        }

        &-button {
            width: $pagination_base_unit;
            height: $pagination_base_unit;
            line-height: $pagination_base_unit;
            text-align: center;
            cursor: default;
            border-radius: 2px;
            color: $pagination_default_color;
            border: 1px solid $pagination_default_border;
            background-color: $pagination_default_background;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &-link {
                cursor: pointer;
                color: $pagination_link_color;
                border: 1px solid $pagination_link_border;
                background-color: $pagination_link_background;
                transition: color $animation $animation_time, background-color $animation $animation_time, border-color $animation $animation_time;

                &:hover {
                    color: $pagination_link_hover_color;
                    border-color: $pagination_link_hover_border;
                    background-color: $pagination_link_hover_background;
                }

                &-active {
                    color: $pagination_link_active_color !important;
                    border-color: $pagination_link_active_border !important;
                    background-color: $pagination_link_active_background !important;
                }
            }

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;

                & > svg {
                    width: $pagination_base_unit / 2;
                    height: $pagination_base_unit / 2;
                }
            }
        }
    }
}
