.scroll-box {
    height: 100%;
    position: relative;
}

.scroll-box.with-scroll-box-vertical {
    padding-right: 16px;
}

.scroll-box.with-scroll-box-horizontal {
    padding-bottom: 16px;
}

.scroll-box__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.scroll-box__scrollable {
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 !important;
    display: inline-block;
    min-width: 100%;
}

.scroll-box__vertical {
    position: absolute;
    top: 0;
    right: 3px;
    height: 100%;
    width: 4px;
    box-sizing: border-box;
    padding: 0;
    background-color: #f3f3f3;
}

.scroll-box__horizontal {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 4px;
    box-sizing: border-box;
    padding: 0;
    background-color: #f3f3f3;
}

.scroll-box__vertical-thumb, .scroll-box__horizontal-thumb {
    background-color: #5e94c9;
    position: relative;
    border-radius: 2px;
}

.scroll-box__vertical-thumb {
    width: 6px;
    left: -1px;
}

.scroll-box__horizontal-thumb {
    height: 6px;
    bottom: -1px;
}

.is-dragging * {
    -webkit-transition-property: unset;
    transition-property: unset;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-timing-function: unset;
    transition-timing-function: unset;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.is-dragging:after {
    content: "";
    width: 200vw;
    height: 200vh;
    position: relative;
    top: -100vh;
    left: -100vw;
    display: block;
}
