@import "../colors";

.text-gray {
    color: $color_gray;
}

.text-sm {
    font-size: 13px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.inline-flex {
    display: inline-flex;
}

/** Widths in %, from 5% to 100%, step by 5% */
@for $i from 1 through 20 {
    .w-#{$i * 5} {
        width: $i * 5%;
    }
}

/** Widths in px, from 10px to 500px, step by 10 */
@for $i from 1 through 50 {
    .w-#{$i * 10}px {
        width: $i * 10px;
    }
}

/** Margin in px, from 0 to 50px, step by 5px */
@for $i from 0 through 10 {
    .mt-#{$i * 5} {
        margin-top: $i * 5px;
    }
    .mb-#{$i * 5} {
        margin-bottom: $i * 5px;
    }
    .ml-#{$i * 5} {
        margin-left: $i * 5px;
    }
    .mr-#{$i * 5} {
        margin-right: $i * 5px;
    }
}

/** Padding in px, from 0 to 50px, step by 5px */
@for $i from 0 through 10 {
    .pt-#{$i * 5} {
        padding-top: $i * 5px;
    }
    .pb-#{$i * 5} {
        padding-bottom: $i * 5px;
    }
    .pl-#{$i * 5} {
        padding-left: $i * 5px;
    }
    .pr-#{$i * 5} {
        padding-right: $i * 5px;
    }
}

