//$color_text: #1b2d49;
$color_text: #1e1e1e;

$body_background_color: #f7f8fb;

$app_menu_text_color: #1b2d49;
$app_menu_active_text_color: #1e87f0;
$app_menu_hover_text_color: #1e87f0;
$app_menu_submenu_background_color: #ffffff;

$page_background_color: #ffffff;
$page_bar_item_title_color: #626262;
$page_header_divider_color: #e5e5e5;
$page_footer_divider_color: #e5e5e5;
$page_error_color: #e71c1c;

$pagination_default_color: #858585;
$pagination_default_border: transparent;
$pagination_default_background: transparent;
$pagination_link_color: #484848;
$pagination_link_border: #d3d3d3;
$pagination_link_background: #f7f8fb;
$pagination_link_hover_color: #484848;
$pagination_link_hover_border: #858585;
$pagination_link_hover_background: #f7f8fb;
$pagination_link_active_color: #fff;
$pagination_link_active_border: #1e87f0;
$pagination_link_active_background: #1e87f0;

$loader_color: #1e87f0;
$loader_background: rgba(255, 255, 255, 0.5);

$base_color: #1e1e1e;
$base_icon_color: #ababab;
$base_hover_color: #1e87f0;
$base_active_color: #1e87f0;
$base_border_color: #b7b7b7;
$base_background_color: #ffffff;
$base_background_changed_color: #ecf4ff;

$base_table_header_background_color: #d2e8ff;
$base_table_header_color: $color_text;
$base_table_border_color: #e3e3e3;
$base_table_odd_background_color: #ffffff;
$base_table_even_background_color: #f7f7f7;
$base_table_hover_background_color: #ebebeb;
$base_table_cell_color: $color_text;
