//$color_text: #1b2d49;

$app_menu_text_color: #1b2d49;
$app_menu_active_text_color: #1e87f0;
$app_menu_hover_text_color: #1e87f0;
$app_menu_submenu_background_color: #ffffff;

$page_background_color: #ffffff;
$page_header_divider_color: #e5e5e5;
$page_footer_divider_color: #e5e5e5;
$page_error_color: #e71c1c;
