@import "../variables";
@import "../colors";
@import "../shadows";

.base-images {
    width: 100%;
    border: 1px solid $base_border_color;
    border-radius: 2px;
    box-sizing: border-box;

    &__not-valid {
        border-color: $base_error_color;
    }

    &__differs {
        background-color: $base_background_changed_color;
    }

    &__container {
        box-sizing: border-box;
        padding: 5px;
        min-height: calc(#{$base_base_unit * 4} + 20px);
    }

    &__image {
        display: inline-flex;
        position: relative;
        vertical-align: top;
        width: $base_base_unit * 4;
        height: $base_base_unit * 4;
        box-sizing: border-box;
        padding: 5px;
        margin: 5px;
        justify-content: center;
        align-items: center;
        border: 1px solid $base_image_border_color;
        background-color: $base_image_background_color;
        border-radius: 2px;

        &-src {
            max-width: 100%;
            max-height: 100%;
        }

        &-discard {
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 4px;
            right: 4px;
            cursor: pointer;
            background-color: $base_image_discard_background_color;
            opacity: 0.5;
            transition: opacity $animation $animation_time;

            &:hover {
                opacity: 1;
            }

            &:before, &:after {
                content: '';
                width: 65%;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: $base_image_discard_color;
            }

            &:before {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &:after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    &__target {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 0 10px 10px;
        display: block;

        &-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            -moz-opacity: 0;
            filter: alpha(opacity=0);
            opacity: 0;
            font-size: 150px;
            height: 30px;
            z-index: -1;
        }

        &-caption {
            height: $base_base_unit;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $base_image_target_color;
            border: 1px solid $base_image_target_border_color;
            background-color: $base_image_target_background_color;
            border-radius: 2px;
            font-family: $project_font;
            font-size: 14px;
            box-shadow: $shadow_1;

            &:hover {
                box-shadow: $shadow_hover;
                color: $base_image_target_hover_color;
                border-color: $base_image_target_hover_border_color;
                background-color: $base_image_target_hover_background_color;
            }

            &:active {
                box-shadow: none;
            }
        }

        &-disabled &-caption {
            cursor: not-allowed;
            color: $base_image_target_disabled_color !important;
            border-color: $base_image_target_disabled_border_color !important;
            background-color: $base_image_target_disabled_background_color !important;
            box-shadow: $shadow_1 !important;

            &:active {
                box-shadow: $shadow_1 !important;
            }
        }
    }
}
