@import "../variables";
@import "../colors";
@import "../shadows";

.base-input {
    display: flex;
    width: 100%;
    height: $base_base_unit;
    border: 1px solid $base_border_color;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: text;
    position: relative;

    &__not-valid {
        border-color: $base_error_color;
    }

    &__differs {
        background-color: $base_background_changed_color;
    }

    &__nested {
        border: none !important;
        width: auto;

    }

    &__input {
        border: none !important;
        outline: none !important;
        box-sizing: border-box;
        height: $base_base_unit;
        line-height: $base_base_unit;
        font-family: $project_font;
        font-size: 16px;
        color: $base_color;
        padding: 0 10px;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        background-color: transparent;

        &-no-left {
            padding-left: 0;
        }

        &-no-right {
            padding-right: 0;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        &[type=number] {
            -moz-appearance: textfield; /* Firefox */
        }

        &-mask {
            color: $base_mask_color;
        }

        &-mask-placeholder {
            color: $base_mask_placeholder_color;
            border-bottom: 1px solid transparentize($base_mask_placeholder_color, 0.5);

            &-generic {
                color: transparent;
            }
        }

        &-mask-cursor {
            border-left: 1px solid $base_color;
            margin-left: -1px;
            animation: 1.2s base-input__input-mask-cursor step-end infinite;
            transition: none;
        }

        &-placeholder {
            color: $base_mask_placeholder_color;
        }

        @keyframes base-input__input-mask-cursor {
            from, to {
                border-color: $base_color;
            }
            50% {
                border-color: transparent;
            }
        }
    }

    &__icon, &__clear {
        height: $base_base_unit;
        width: $base_base_unit;
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: $base_base_unit / 5;

        & > svg {
            width: 100%;
            height: 100%;
        }
    }

    &__icon {
        margin-right: 2px;
        color: $base_icon_color;

        &-clickable {
            cursor: pointer;
            color: $base_link_color;
            transition: color $animation $animation_time;

            &:hover {
                color: $base_link_hover_color;
            }
        }
    }

    &__clear {
        color: $base_remove_color;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity $animation $animation_time;

        &:hover {
            opacity: 1;
        }

        & > svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__popup {
        position: absolute;
        left: -1px;
        bottom: -6px;
        transform: translateY(100%);
        box-sizing: border-box;
        padding: 12px 20px;
        border-radius: 2px;
        z-index: 50;
        background-color: $base_background_color;
        box-shadow: $shadow_2;
        opacity: 0;
        visibility: hidden;
        transition: opacity $animation $animation_time, visibility $animation $animation_time;

        &:before {
            content: '';
            display: block;
            background-color: $base_background_color;
            width: 6px;
            height: 6px;
            position: absolute;
            left: 14px;
            top: -4px;
            transform: rotate(45deg);
            border-color: #e9e9e9;
            border-style: solid;
            border-width: 1px 0 0 1px;
        }

        &-shown {
            opacity: 1;
            visibility: visible;
        }
    }
}
