@import "../variables";
@import "../colors";
@import "../shadows";
@import "../mixins/no-selection";

.button {
    display: inline-block;
    text-decoration: none;
    height: $base_button_unit;
    line-height: $base_button_unit;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 $base_button_unit / 2;
    letter-spacing: 0.03rem;
    color: $base_button_color;
    border: 1px solid $base_button_border;
    background-color: $base_button_background_color;
    transition: color $animation $animation_time, background-color $animation $animation_time, border-color $animation $animation_time, box-shadow $animation $animation_time;
    font-family: $project_font;
    font-size: 14px;
    box-shadow: $shadow_1;
    text-transform: uppercase;
    @include noSelection;

    &:not(:last-child) {
        margin-right: 20px;
    }

    &:not(&__disabled):hover {
        box-shadow: $shadow_hover;
        color: $base_button_hover_color;
        background-color: $base_button_hover_border;
        border-color: $base_button_hover_background_color;
    }

    &:not(&__disabled):active {
        box-shadow: none;
    }

    &__disabled {
        color: $base_button_disabled_color !important;
        background-color: $base_button_disabled_border !important;
        border-color: $base_button_disabled_background_color !important;
        cursor: not-allowed;
    }

    &__green {
        color: $base_button_green_color;
        background-color: $base_button_green_border;
        border-color: $base_button_green_background_color;

        &:hover {
            color: $base_button_green_hover_color;
            background-color: $base_button_green_hover_border;
            border-color: $base_button_green_hover_background_color;
        }
    }

    &__red {
        color: $base_button_red_color;
        background-color: $base_button_red_border;
        border-color: $base_button_red_background_color;

        &:hover {
            color: $base_button_red_hover_color;
            background-color: $base_button_red_hover_border;
            border-color: $base_button_red_hover_background_color;
        }
    }
}
