@import "../variables";
@import "../colors";

.base-input {
    display: flex;
    width: 100%;
    height: $base_base_unit;
    border: 1px solid $base_border_color;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: text;

    &__not-valid {
        border-color: $base_error_color;
    }

    &__differs {
        background-color: $base_background_changed_color;
    }

    &__input {
        border: none !important;
        outline: none !important;
        box-sizing: border-box;
        height: $base_base_unit;
        line-height: $base_base_unit;
        font-family: $project_font;
        font-size: 16px;
        color: $base_color;
        padding: 0 10px;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        background-color: transparent;

        &-no-left {
            padding-left: 0;
        }

        &-no-right {
            padding-right: 0;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        &[type=number] {
            -moz-appearance: textfield; /* Firefox */
        }

        &-mask {
            color: $base_mask_color;
        }

        &-mask-placeholder {
            color: $base_mask_placeholder_color;
            border-bottom: 1px solid transparentize($base_mask_placeholder_color, 0.5);

            &-generic {
                color: transparent;
            }
        }

        &-mask-cursor {
            border-left: 1px solid $base_color;
            margin-left: -1px;
            animation: 1.2s base-input__input-mask-cursor step-end infinite;
            transition: none;
        }

        &-placeholder {
            color: $base_mask_placeholder_color;
        }
        @keyframes base-input__input-mask-cursor {
            from, to {
                border-color: $base_color;
            }
            50% {
                border-color: transparent;
            }
        }
    }

    &__icon, &__clear {
        height: $base_base_unit;
        width: $base_base_unit;
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: $base_base_unit / 5;
    }

    &__icon {
        margin-right: 2px;
        color: $base_icon_color;
    }

    &__clear {
        color: $base_remove_color;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity $animation $animation_time;

        &:hover {
            opacity: 1;
        }

        & > svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
